
## Test Results for dsk1513

### Playwright
- Total tests: 20
- Passed tests: 20

### LightHouse

- Performance score: 75
- Accessibility score: 100
- Best practices score: 100
- SEO score: 100
- Average Lighthouse score: 94
